<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body style="padding: 50px;">
    <h1>Thank you, I'm finally a free LTI tool!</h1>
    <br/>
    <p> Here is some basic information for you</p>
    <table>
        <tr style>
            <th style="text-align: left;"><b>Key</b></th>
            <th style="text-align: left; padding-left: 20px;"><b>Value</b></th>
        </tr>
        <tr>
            <td>Username</td>
            <td style="padding-left: 20px;">{{ username }}</td>
        </tr>
        <tr>
            <td>User UUID</td>
            <td style="padding-left: 20px;">{{ user_uuid }}</td>
        </tr>
        <tr>
            <td>User BatchUID</td>
            <td style="padding-left: 20px;">{{ user_batch_uid }}</td>
        </tr>
        <tr>
            <td>Course ID</td>
            <td style="padding-left: 20px;">{{ course_id }}</td>
        </tr>
        <tr>
            <td>Course Title</td>
            <td style="padding-left: 20px;">{{ course_title }}</td>
        </tr>
        <tr>
            <td>Course UUID</td>
            <td style="padding-left: 20px;">{{ course_uuid }}</td>
        </tr>
        <tr>
            <td>Course BatchUID</td>
            <td style="padding-left: 20px;">{{ course_batch_uid }}</td>
        </tr>
    </table>

</body>
</html>
